<div class="row">
    <div class="go-chart col-md-12">

    </div>
</div>
<div class="go-listview">
    <div class="go-input">
        <input type="text" id="input" ng-keydown="action($event)" ng-model="currentItem">
    </div>
    <div class="go-list">
        <div ng-repeat="item in list track by $index" class="go-item">
            <span ng-bind="item.points" class="go-points"></span>
            <span ng-bind="item.task" class="go-task"></span>
            <span class="glyphicon glyphicon-trash pull-right go-button"></span>
            <span class="glyphicon glyphicon-ok go-button"></span>
        </div>
    </div>
</div>